.label {
  border-left: 10px solid red;
  padding: 0 0 0 15px;
  display: flex;
  justify-content: space-between;
}
.linkOuter {
  outline: 1px solid red;
  background: #0e1821;
  color: white;
  font-size: 0;
  span {
    span {
      display: inline-block;
      font-size: 12px;
      position: relative;
    }
  }
}
.inner-linkName {
  color: #0099c9;
  cursor: pointer;
}
.inner-link {
  cursor: pointer;
  &::after {
    content: "对外担保";
    display: block;
    white-space: nowrap;
    padding: 10px;
    background: #09435a;
    position: absolute;
    left: 20px;
    top: 20px;
    visibility: hidden;
  }
  &:hover::after {
    visibility: visible;
  }
}
.inner-label-title {
  border: 2px solid #329995;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.inner-label-msg {
  border: 2px solid #329995;
  border-radius: 16px;
  height: 16px;
  line-height: 16px;
  text-align: right;
  padding: 0 10px 0 20px;
  margin: 0 0 0 -20px;
}
.IncidenceRelationChart {
  border: 1px solid red;
}

.optMaxMin{
  display: inline-block;
  float: right;
  cursor: pointer;
}

